<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mainicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/mainicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApp"
        tools:targetApi="31">
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".FullActivity"
            android:exported="false" />
        <activity
            android:name=".WorldNews"
            android:exported="false" />
        <activity
            android:name=".ScienceNews"
            android:exported="false" />
        <activity
            android:name=".FashionNews"
            android:exported="false" />
        <activity
            android:name=".AutomobileNews"
            android:exported="false" />
        <activity
            android:name=".SportsNews"
            android:exported="false" />
        <activity
            android:name=".TravelNews"
            android:exported="false" />
        <activity
            android:name=".Politics"
            android:exported="false" />
        <activity
            android:name=".TechnologyNews"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>